body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: url("img/photo_2025-09-30_17-19-53.jpg") no-repeat center center fixed;
    background-size: cover;
}

h1, h2, h5 {
    color: #222;
}

.nav-link.active {
    background-color: #5994cd !important;
    color: #fff !important;
}

.card img {
    object-fit: cover;
}

.container1{
    display: flex;
    justify-content: center;
}


footer {
    background-color: rgba(195, 234, 251, 0.89);
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    font-size: 14px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.imag {
    display: block;
    margin: 20px auto;
    width: 70%;
    max-width: 500px;
    height: auto;
}
